* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background Animation */
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(
        270deg,
        #dd3ec3,
        #8c3dcc,
        #36b9cc,
        #f8f9fc
    );
    background-size: 800% 800%;
    animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Navbar */
.custom-navbar {
    background-color: #1f3c88;
    padding: 10px 0;
}

/* Logo */
.logo-img {
    height: 100px;        /* Desktop size */
    width: auto;
    left: 20px;
}

/* Brand text */
.brand-text {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

/* Cards */
.login-card {
    border-radius: 12px;
    padding: 25px;
    background-color: #ffffff;
}

/* Inputs */
.form-control {
    border-radius: 8px;
}

.form-control:focus {
    border-color: #1f3c88;
    box-shadow: 0 0 0 0.15rem rgba(31, 60, 136, 0.25);
}

/* Buttons */
.btn-primary {
    background-color: #1f3c88;
    border-color: #1f3c88;
}

.btn-primary:hover {
    background-color: #162f6a;
}

.btn-success {
    background-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

/* Links */
a {
    color: #1f3c88;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* footer */

/* Footer */
.school-footer {
    background-color: #1f3c88;
    color: #ffffff;
    padding: 40px 0 20px;
    margin-top: 50px;
}

.school-footer h5 {
    font-weight: 600;
    margin-bottom: 15px;
}

.school-footer p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.school-footer hr {
    border-color: rgba(255,255,255,0.3);
}

.copyright {
    font-size: 13px;
    opacity: 0.9;
}


/* Responsive */
@media (max-width: 768px) {
    .logo-img {
        height: 45px;
    }

    .brand-text {
        font-size: 16px;
    }
}
